openapi: 3.0.0
info:
  contact:
    name: Tendermint RPC
    url: https://github.com/tendermint/tendermint/issues/new/choose
  description: "Tendermint supports the following RPC protocols:\n\n* URI over HTTP\n\
    * JSONRPC over HTTP\n* JSONRPC over websockets\n\n## Configuration\n\nRPC can\
    \ be configured by tuning parameters under `[rpc]` table in the\n`$TMHOME/config/config.toml`\
    \ file or by using the `--rpc.X` command-line\nflags.\n\nDefault rpc listen address\
    \ is `tcp://0.0.0.0:26657`.\nTo set another address, set the `laddr` config parameter\
    \ to desired value.\nCORS (Cross-Origin Resource Sharing) can be enabled by setting\n\
    `cors_allowed_origins`, `cors_allowed_methods`, `cors_allowed_headers`\nconfig\
    \ parameters.\n\n## Arguments\n\nArguments which expect strings or byte arrays\
    \ may be passed as quoted\nstrings, like `\"abc\"` or as `0x`-prefixed strings,\
    \ like `0x616263`.\n\n## URI/HTTP\n\nA REST like interface.\n\n    curl localhost:26657/block?height=5\n\
    \n## JSONRPC/HTTP\n\nJSONRPC requests can be POST'd to the root RPC endpoint via\
    \ HTTP.\n\n    curl --header \"Content-Type: application/json\" --request POST\
    \ --data '{\"method\": \"block\", \"params\": [\"5\"], \"id\": 1}' localhost:26657\n\
    \n## JSONRPC/websockets\n\nJSONRPC requests can be also made via websocket.\n\
    The websocket endpoint is at `/websocket`, e.g. `localhost:26657/websocket`.\n\
    Asynchronous RPC functions like event `subscribe` and `unsubscribe` are\nonly\
    \ available via websockets.\n\nExample using https://github.com/hashrocket/ws:\n\
    \n    ws ws://localhost:26657/websocket\n    > { \"jsonrpc\": \"2.0\", \"method\"\
    : \"subscribe\", \"params\": [\"tm.event='NewBlock'\"], \"id\": 1 }\n"
  license:
    name: Apache 2.0
    url: https://github.com/tendermint/tendermint/blob/master/LICENSE
  title: Tendermint RPC
  version: Master
servers:
- description: Cosmos mainnet node to interact with the Tendermint RPC
  url: https://rpc.cosmos.network
- description: Interact with the Tendermint RPC locally on your device
  url: http://localhost:26657
tags:
- description: Subscribe/unsubscribe are reserved for websocket events.
  name: Websocket
- description: Informations about the node APIs
  name: Info
- description: Transactions broadcast APIs
  name: Tx
- description: ABCI APIs
  name: ABCI
- description: Evidence APIs
  name: Evidence
- description: Unsafe APIs
  name: Unsafe
paths:
  /broadcast_tx_sync:
    get:
      description: "If you want to be sure that the transaction is included in a block,\
        \ you can\nsubscribe for the result using JSONRPC via a websocket. See\nhttps://docs.tendermint.com/master/app-dev/subscribing-to-events-via-websocket.html\n\
        If you haven't received anything after a couple of blocks, resend it. If the\n\
        same happens again, send it to some other node. A few reasons why it could\n\
        happen:\n\n1. malicious node can drop or pretend it had committed your tx\n\
        2. malicious proposer (not necessary the one you're communicating with) can\n\
        drop transactions, which might become valid in the future\n(https://github.com/tendermint/tendermint/issues/3322)\n\
        \n\nPlease refer to\nhttps://docs.tendermint.com/master/tendermint-core/using-tendermint.html#formatting\n\
        for formatting/encoding rules.\n"
      operationId: broadcast_tx_sync
      parameters:
      - description: The transaction
        example: "456"
        explode: true
        in: query
        name: tx
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BroadcastTxResponse'
          description: Empty
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Returns with the response from CheckTx. Does not wait for DeliverTx
        result.
      tags:
      - Tx
  /broadcast_tx_async:
    get:
      description: "If you want to be sure that the transaction is included in a block,\
        \ you can\nsubscribe for the result using JSONRPC via a websocket. See\nhttps://docs.tendermint.com/master/app-dev/subscribing-to-events-via-websocket.html\n\
        If you haven't received anything after a couple of blocks, resend it. If the\n\
        same happens again, send it to some other node. A few reasons why it could\n\
        happen:\n\n1. malicious node can drop or pretend it had committed your tx\n\
        2. malicious proposer (not necessary the one you're communicating with) can\n\
        drop transactions, which might become valid in the future\n(https://github.com/tendermint/tendermint/issues/3322)\n\
        3. node can be offline\n\nPlease refer to\nhttps://docs.tendermint.com/master/tendermint-core/using-tendermint.html#formatting\n\
        for formatting/encoding rules.\n"
      operationId: broadcast_tx_async
      parameters:
      - description: The transaction
        explode: true
        in: query
        name: tx
        required: true
        schema:
          example: "123"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BroadcastTxResponse'
          description: empty answer
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: empty error
      summary: "Returns right away, with no response. Does not wait for CheckTx nor\
        \ DeliverTx results."
      tags:
      - Tx
  /broadcast_tx_commit:
    get:
      description: "IMPORTANT: use only for testing and development. In production,\
        \ use\nBroadcastTxSync or BroadcastTxAsync. You can subscribe for the transaction\n\
        result using JSONRPC via a websocket. See\nhttps://docs.tendermint.com/master/app-dev/subscribing-to-events-via-websocket.html\n\
        \nCONTRACT: only returns error if mempool.CheckTx() errs or if we timeout\n\
        waiting for tx to commit.\n\nIf CheckTx or DeliverTx fail, no error will be\
        \ returned, but the returned result\nwill contain a non-OK ABCI code.\n\n\
        Please refer to\nhttps://docs.tendermint.com/master/tendermint-core/using-tendermint.html#formatting\n\
        for formatting/encoding rules.\n"
      operationId: broadcast_tx_commit
      parameters:
      - description: The transaction
        explode: true
        in: query
        name: tx
        required: true
        schema:
          example: "785"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BroadcastTxCommitResponse'
          description: empty answer
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: empty error
      summary: Returns with the responses from CheckTx and DeliverTx.
      tags:
      - Tx
  /check_tx:
    get:
      description: |
        The transaction won't be added to the mempool.

        Please refer to
        https://docs.tendermint.com/master/tendermint-core/using-tendermint.html#formatting
        for formatting/encoding rules.
      operationId: check_tx
      parameters:
      - description: The transaction
        explode: true
        in: query
        name: tx
        required: true
        schema:
          example: "785"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckTxResponse'
          description: ABCI application's CheckTx response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: empty error
      summary: Checks the transaction without executing it.
      tags:
      - Tx
  /remove_tx:
    get:
      operationId: remove_tx
      parameters:
      - description: The transaction key
        explode: true
        in: query
        name: txKey
        required: true
        schema:
          example: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          type: string
        style: form
      responses:
        "200":
          description: empty response.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: empty error.
      summary: Removes a transaction from the mempool.
      tags:
      - TxKey
  /subscribe:
    get:
      description: "To tell which events you want, you need to provide a query. query\
        \ is a\nstring, which has a form: \"condition AND condition ...\" (no OR at\
        \ the\nmoment). condition has a form: \"key operation operand\". key is a\
        \ string with\na restricted set of possible symbols ( \\t\\n\\r\\\\()\"'=><\
        \ are not allowed).\noperation can be \"=\", \"<\", \"<=\", \">\", \">=\"\
        , \"CONTAINS\" AND \"EXISTS\". operand\ncan be a string (escaped with single\
        \ quotes), number, date or time.\n\nExamples:\n      tm.event = 'NewBlock'\
        \               # new blocks\n      tm.event = 'CompleteProposal'       #\
        \ node got a complete proposal\n      tm.event = 'Tx' AND tx.hash = 'XYZ'\
        \ # single transaction\n      tm.event = 'Tx' AND tx.height = 5   # all txs\
        \ of the fifth block\n      tx.height = 5                       # all txs\
        \ of the fifth block\n\nTendermint provides a few predefined keys: tm.event,\
        \ tx.hash and tx.height.\nNote for transactions, you can define additional\
        \ keys by providing events with\nDeliverTx response.\n\nimport (\n    abci\
        \ \"github.com/tendermint/tendermint/abci/types\"\n    \"github.com/tendermint/tendermint/libs/pubsub/query\"\
        \n)\n\nabci.ResponseDeliverTx{\n  Events: []abci.Event{\n      {\n       \
        \   Type: \"rewards.withdraw\",\n          Attributes: []abci.EventAttribute{\n\
        \              {Key: \"address\", Value: \"AddrA\", Index: true},\n      \
        \        {Key: \"source\", Value: \"SrcX\", Index: true},\n              {Key:\
        \ \"amount\", Value: \"...\", Index: true},\n              {Key: \"balance\"\
        , Value: \"...\", Index: true},\n          },\n      },\n      {\n       \
        \   Type: \"rewards.withdraw\",\n          Attributes: []abci.EventAttribute{\n\
        \              {Key: \"address\", Value: \"AddrB\", Index: true},\n      \
        \        {Key: \"source\", Value: \"SrcY\", Index: true},\n              {Key:\
        \ \"amount\", Value: \"...\", Index: true},\n              {Key: \"balance\"\
        , Value: \"...\", Index: true},\n          },\n      },\n      {\n       \
        \   Type: \"transfer\",\n          Attributes: []abci.EventAttribute{\n  \
        \            {Key: \"sender\", Value: \"AddrC\", Index: true},\n         \
        \     {Key: \"recipient\", Value: \"AddrD\", Index: true},\n             \
        \ {Key: \"amount\", Value: \"...\", Index: true},\n          },\n      },\n\
        \  },\n}\n\nAll events are indexed by a composite key of the form {eventType}.{evenAttrKey}.\n\
        In the above examples, the following keys would be indexed:\n   - rewards.withdraw.address\n\
        \   - rewards.withdraw.source\n   - rewards.withdraw.amount\n   - rewards.withdraw.balance\n\
        \   - transfer.sender\n   - transfer.recipient\n   - transfer.amount\n\nMultiple\
        \ event types with duplicate keys are allowed and are meant to\ncategorize\
        \ unique and distinct events. In the above example, all events\nindexed under\
        \ the key `rewards.withdraw.address` will have the following\nvalues stored\
        \ and queryable:\n\n   - AddrA\n   - AddrB\n\nTo create a query for txs where\
        \ address AddrA withdrew rewards:\nquery.MustParse(\"tm.event = 'Tx' AND rewards.withdraw.address\
        \ = 'AddrA'\")\n\nTo create a query for txs where address AddrA withdrew rewards\
        \ from source Y:\nquery.MustParse(\"tm.event = 'Tx' AND rewards.withdraw.address\
        \ = 'AddrA' AND rewards.withdraw.source = 'Y'\")\n\nTo create a query for\
        \ txs where AddrA transferred funds:\nquery.MustParse(\"tm.event = 'Tx' AND\
        \ transfer.sender = 'AddrA'\")\n\nThe following queries would return no results:\n\
        query.MustParse(\"tm.event = 'Tx' AND transfer.sender = 'AddrZ'\")\nquery.MustParse(\"\
        tm.event = 'Tx' AND rewards.withdraw.address = 'AddrZ'\")\nquery.MustParse(\"\
        tm.event = 'Tx' AND rewards.withdraw.source = 'W'\")\n\nSee list of all possible\
        \ events here\nhttps://godoc.org/github.com/tendermint/tendermint/types#pkg-constants\n\
        \nFor complete query syntax, check out\nhttps://godoc.org/github.com/tendermint/tendermint/libs/pubsub/query.\n\
        \n```go\nimport rpchttp \"github.com/tendermint/rpc/client/http\"\nimport\
        \ \"github.com/tendermint/tendermint/types\"\n\nclient, err := rpchttp.New(\"\
        tcp://0.0.0.0:26657\", \"/websocket\")\nif err != nil {\n  // handle error\n\
        }\n\nerr = client.Start()\nif err != nil {\n  // handle error\n}\ndefer client.Stop()\n\
        ctx, cancel := context.WithTimeout(context.Background(), 1 * time.Second)\n\
        defer cancel()\nquery := \"tm.event = 'Tx' AND tx.height = 3\"\ntxs, err :=\
        \ client.Subscribe(ctx, \"test-client\", query)\nif err != nil {\n  // handle\
        \ error\n}\n\ngo func() {\n for e := range txs {\n   fmt.Println(\"got \"\
        , e.Data.(types.EventDataTx))\n   }\n}()\n```\n\nNOTE: if you're not reading\
        \ events fast enough, Tendermint might\nterminate the subscription.\n"
      operationId: subscribe
      parameters:
      - description: "query is a string, which has a form: \"condition AND condition\
          \ ...\" (no OR at the\nmoment). condition has a form: \"key operation operand\"\
          . key is a string with\na restricted set of possible symbols ( \\t\\n\\\
          r\\\\()\"'=>< are not allowed).\noperation can be \"=\", \"<\", \"<=\",\
          \ \">\", \">=\", \"CONTAINS\". operand can be a\nstring (escaped with single\
          \ quotes), number, date or time.\n"
        explode: true
        in: query
        name: query
        required: true
        schema:
          example: tm.event = 'Tx' AND tx.height = 5
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: empty answer
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: empty error
      summary: Subscribe for events via WebSocket.
      tags:
      - Websocket
  /unsubscribe:
    get:
      description: "```go\nclient, err := rpchttp.New(\"tcp://0.0.0.0:26657\", \"\
        /websocket\")\nif err != nil {\n  // handle error\n}\n\nerr := client.Start()\n\
        if err != nil {\n  // handle error\n}\ndefer client.Stop()\nquery := \"tm.event\
        \ = 'Tx' AND tx.height = 3\"\nerr = client.Unsubscribe(context.Background(),\
        \ \"test-client\", query)\nif err != nil {\n  // handle error\n}\n```\n"
      operationId: unsubscribe
      parameters:
      - description: "query is a string, which has a form: \"condition AND condition\
          \ ...\" (no OR at the\nmoment). condition has a form: \"key operation operand\"\
          . key is a string with\na restricted set of possible symbols ( \\t\\n\\\
          r\\\\()\"'=>< are not allowed).\noperation can be \"=\", \"<\", \"<=\",\
          \ \">\", \">=\", \"CONTAINS\". operand can be a\nstring (escaped with single\
          \ quotes), number, date or time.\n"
        explode: true
        in: query
        name: query
        required: true
        schema:
          example: tm.event = 'Tx' AND tx.height = 5
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: Answer
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Unsubscribe from event on Websocket
      tags:
      - Websocket
  /unsubscribe_all:
    get:
      description: |
        Unsubscribe from all events via WebSocket
      operationId: unsubscribe_all
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: empty answer
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: empty error
      summary: Unsubscribe from all events via WebSocket
      tags:
      - Websocket
  /health:
    get:
      description: "Get node health. Returns empty result (200 OK) on success, no\
        \ response - in case of an error.\n"
      operationId: health
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: Gets Node Health
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: empty error
      summary: Node heartbeat
      tags:
      - Info
  /status:
    get:
      description: "Get Tendermint status including node info, pubkey, latest block\
        \ hash, app hash, block height, current max peer height, and time.\n"
      operationId: status
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Status of the node
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: empty error
      summary: Node Status
      tags:
      - Info
  /net_info:
    get:
      description: |
        Get network info.
      operationId: net_info
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetInfoResponse'
          description: empty answer
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: empty error
      summary: Network information
      tags:
      - Info
  /dial_seeds:
    get:
      description: "Dial a peer, this route in under unsafe, and has to manually enabled\
        \ to use\n\n  **Example:** curl 'localhost:26657/dial_seeds?seeds=\\[\"f9baeaa15fedf5e1ef7448dd60f46c01f1a9e9c4@1.2.3.4:26656\"\
        ,\"0491d373a8e0fcf1023aaf18c51d6a1d0d4f31bd@5.6.7.8:26656\"\\]'\n"
      operationId: dial_seeds
      parameters:
      - description: list of seed nodes to dial
        explode: true
        in: query
        name: peers
        required: false
        schema:
          items:
            example: f9baeaa15fedf5e1ef7448dd60f46c01f1a9e9c4@1.2.3.4:26656
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dialResp'
          description: Dialing seeds in progress. See /net_info for details
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: empty error
      summary: Dial Seeds (Unsafe)
      tags:
      - Unsafe
  /dial_peers:
    get:
      description: "Set a persistent peer, this route in under unsafe, and has to\
        \ manually enabled to use.\n\n**Example:** curl 'localhost:26657/dial_peers?peers=\\\
        [\"f9baeaa15fedf5e1ef7448dd60f46c01f1a9e9c4@1.2.3.4:26656\",\"0491d373a8e0fcf1023aaf18c51d6a1d0d4f31bd@5.6.7.8:26656\"\
        \\]&persistent=false'\n"
      operationId: dial_peers
      parameters:
      - description: Have the peers you are dialing be persistent
        explode: true
        in: query
        name: persistent
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: Have the peers you are dialing be unconditional
        explode: true
        in: query
        name: unconditional
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: Have the peers you are dialing be private
        explode: true
        in: query
        name: private
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: array of peers to dial
        explode: true
        in: query
        name: peers
        required: false
        schema:
          items:
            example: f9baeaa15fedf5e1ef7448dd60f46c01f1a9e9c4@1.2.3.4:26656
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dialResp'
          description: Dialing seeds in progress. See /net_info for details
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: empty error
      summary: Add Peers/Persistent Peers (unsafe)
      tags:
      - Unsafe
  /unsafe_flush_mempool:
    get:
      description: "Flush flushes out the mempool. It acquires a read-lock, fetches\
        \ all the\ntransactions currently in the transaction store and removes each\
        \ transaction\nfrom the store and all indexes and finally resets the cache.\n\
        \nNote, flushing the mempool may leave the mempool in an inconsistent state.\n"
      operationId: unsafe_flush_mempool
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: empty answer
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: empty error
      summary: Flush mempool of all unconfirmed transactions
      tags:
      - Unsafe
  /blockchain:
    get:
      description: "Get block headers for minHeight <= height maxHeight.\n\nIf maxHeight\
        \ does not yet exist, blocks up to the current height will\nbe returned. If\
        \ minHeight does not exist (due to pruning), earliest\nexisting height will\
        \ be used.\n\nAt most 20 items will be returned. Block headers are returned\
        \ in\ndescending order (highest first).\n"
      operationId: blockchain
      parameters:
      - description: Minimum block height to return
        explode: true
        in: query
        name: minHeight
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: Maximum block height to return
        explode: true
        in: query
        name: maxHeight
        required: false
        schema:
          example: 2
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainResponse'
          description: "Block headers, returned in descending order (highest first)."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: "Get block headers (max: 20) for minHeight <= height <= maxHeight."
      tags:
      - Info
  /header:
    get:
      description: |
        Retrieve the block header corresponding to a specified height.
      operationId: header
      parameters:
      - description: "height to return. If no height is provided, it will fetch the\
          \ latest height."
        explode: true
        in: query
        name: height
        required: false
        schema:
          default: 0
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeaderResponse'
          description: Header information.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Get the header at a specified height
      tags:
      - Info
  /header_by_hash:
    get:
      description: |
        Retrieve the block header corresponding to a block hash.
      operationId: header_by_hash
      parameters:
      - description: header hash
        explode: true
        in: query
        name: hash
        required: true
        schema:
          example: 0xD70952032620CC4E2737EB8AC379806359D8E0B17B0488F627997A0B043ABDED
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeaderResponse'
          description: Header information.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Get header by hash
      tags:
      - Info
  /block:
    get:
      description: |
        Get Block.
      operationId: block
      parameters:
      - description: "height to return. If no height is provided, it will fetch the\
          \ latest block."
        explode: true
        in: query
        name: height
        required: false
        schema:
          default: 0
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockResponse'
          description: Block information.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Get block at a specified height
      tags:
      - Info
  /block_by_hash:
    get:
      description: |
        Get Block By Hash.
      operationId: block_by_hash
      parameters:
      - description: block hash
        explode: true
        in: query
        name: hash
        required: true
        schema:
          example: 0xD70952032620CC4E2737EB8AC379806359D8E0B17B0488F627997A0B043ABDED
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockResponse'
          description: Block information.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Get block by hash
      tags:
      - Info
  /block_results:
    get:
      description: |
        Get block_results.
      operationId: block_results
      parameters:
      - description: "height to return. If no height is provided, it will fetch information\
          \ regarding the latest block."
        explode: true
        in: query
        name: height
        required: false
        schema:
          default: 0
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockSearchResponse'
          description: Block results.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Get block results at a specified height
      tags:
      - Info
  /commit:
    get:
      description: |
        Get Commit.
      operationId: commit
      parameters:
      - description: "height to return. If no height is provided, it will fetch commit\
          \ information regarding the latest block."
        explode: true
        in: query
        name: height
        required: false
        schema:
          default: 0
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitResponse'
          description: |
            Commit results.

            canonical switches from false to true for block H once block H+1 has been committed. Until then it's subjective and only reflects what this node has seen so far.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Get commit results at a specified height
      tags:
      - Info
  /validators:
    get:
      description: "Get Validators. Validators are sorted first by voting power (descending),\
        \ then by address (ascending).\n"
      operationId: validators
      parameters:
      - description: "height to return. If no height is provided, it will fetch validator\
          \ set which corresponds to the latest block."
        explode: true
        in: query
        name: height
        required: false
        schema:
          default: 0
          example: 1
          type: integer
        style: form
      - description: Page number (1-based)
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          type: integer
        style: form
      - description: "Number of entries per page (max: 100)"
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 30
          example: 30
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidatorsResponse'
          description: Commit results.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Get validator set at a specified height
      tags:
      - Info
  /genesis:
    get:
      description: |
        Get the genesis document.
      operationId: genesis
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenesisResponse'
          description: Genesis results.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Get Genesis
      tags:
      - Info
  /genesis_chunked:
    get:
      description: |
        Get genesis document in a paginated/chunked format to make it
        easier to iterate through larger genesis structures.
      operationId: genesis_chunked
      parameters:
      - description: Sequence number of the chunk to download.
        explode: true
        in: query
        name: chunkID
        required: false
        schema:
          default: 0
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenesisChunkedResponse'
          description: Genesis results.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Get Genesis in paginated chunks
      tags:
      - Info
  /dump_consensus_state:
    get:
      description: |
        Get consensus state.

        Not safe to call from inside the ABCI application during a block execution.
      operationId: dump_consensus_state
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DumpConsensusResponse'
          description: |
            Complete consensus state.

            See https://pkg.go.dev/github.com/tendermint/tendermint/types?tab=doc#Vote.String for Vote string description.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Get consensus state
      tags:
      - Info
  /consensus_state:
    get:
      description: |
        Get consensus state.

        Not safe to call from inside the ABCI application during a block execution.
      operationId: consensus_state
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsensusStateResponse'
          description: consensus state results.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Get consensus state
      tags:
      - Info
  /consensus_params:
    get:
      description: |
        Get consensus parameters.
      operationId: consensus_params
      parameters:
      - description: "height to return. If no height is provided, it will fetch commit\
          \ information regarding the latest block."
        explode: true
        in: query
        name: height
        required: false
        schema:
          default: 0
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsensusParamsResponse'
          description: consensus parameters results.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Get consensus parameters
      tags:
      - Info
  /unconfirmed_txs:
    get:
      description: |
        Get list of unconfirmed transactions
      operationId: unconfirmed_txs
      parameters:
      - description: Maximum number of unconfirmed transactions to return (max 100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 30
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnconfirmedTransactionsResponse'
          description: List of unconfirmed transactions
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Get the list of unconfirmed transactions
      tags:
      - Info
  /num_unconfirmed_txs:
    get:
      description: |
        Get data about unconfirmed transactions
      operationId: num_unconfirmed_txs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NumUnconfirmedTransactionsResponse'
          description: status about unconfirmed transactions
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Get data about unconfirmed transactions
      tags:
      - Info
  /tx_search:
    get:
      description: |
        Search for transactions w/ their results.

        See /subscribe for the query syntax.
      operationId: tx_search
      parameters:
      - description: Query
        explode: true
        in: query
        name: query
        required: true
        schema:
          example: tx.height=1000
          type: string
        style: form
      - description: Include proofs of the transactions inclusion in the block
        explode: true
        in: query
        name: prove
        required: false
        schema:
          default: false
          example: true
          type: boolean
        style: form
      - description: Page number (1-based)
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          type: integer
        style: form
      - description: "Number of entries per page (max: 100)"
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 30
          example: 30
          type: integer
        style: form
      - description: "Order in which transactions are sorted (\"asc\" or \"desc\"\
          ), by height & index. If empty, default sorting will be still applied."
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          default: desc
          example: asc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxSearchResponse'
          description: List of transactions
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Search for transactions
      tags:
      - Info
  /block_search:
    get:
      description: |
        Search for blocks by BeginBlock and EndBlock events.

        See /subscribe for the query syntax.
      operationId: block_search
      parameters:
      - description: Query
        explode: true
        in: query
        name: query
        required: true
        schema:
          example: block.height > 1000 AND valset.changed > 0
          type: string
        style: form
      - description: Page number (1-based)
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          type: integer
        style: form
      - description: "Number of entries per page (max: 100)"
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 30
          example: 30
          type: integer
        style: form
      - description: "Order in which blocks are sorted (\"asc\" or \"desc\"), by height.\
          \ If empty, default sorting will be still applied."
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          default: desc
          example: asc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockResultsResponse'
          description: List of paginated blocks matching the search criteria.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Search for blocks by BeginBlock and EndBlock events
      tags:
      - Info
  /tx:
    get:
      description: |
        Get a transaction
      operationId: tx
      parameters:
      - description: transaction Hash to retrive
        explode: true
        in: query
        name: hash
        required: true
        schema:
          example: 0xD70952032620CC4E2737EB8AC379806359D8E0B17B0488F627997A0B043ABDED
          type: string
        style: form
      - description: Include proofs of the transactions inclusion in the block
        explode: true
        in: query
        name: prove
        required: false
        schema:
          default: false
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxResponse'
          description: Get a transaction
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Get transactions by hash
      tags:
      - Info
  /abci_info:
    get:
      description: |
        Get some info about the application.
      operationId: abci_info
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ABCIInfoResponse'
          description: Get some info about the application.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Get some info about the application.
      tags:
      - ABCI
  /abci_query:
    get:
      description: |
        Query the application for some information.
      operationId: abci_query
      parameters:
      - description: Path to the data ("/a/b/c")
        explode: true
        in: query
        name: path
        required: true
        schema:
          example: /a/b/c
          type: string
        style: form
      - description: Data
        explode: true
        in: query
        name: data
        required: true
        schema:
          example: IHAVENOIDEA
          type: string
        style: form
      - description: Height (0 means latest)
        explode: true
        in: query
        name: height
        required: false
        schema:
          default: 0
          example: 1
          type: integer
        style: form
      - description: Include proofs of the transactions inclusion in the block
        explode: true
        in: query
        name: prove
        required: false
        schema:
          default: false
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ABCIQueryResponse'
          description: Response of the submitted query
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Query the application for some information.
      tags:
      - ABCI
  /broadcast_evidence:
    get:
      description: |
        Broadcast evidence of the misbehavior.
      operationId: broadcast_evidence
      parameters:
      - description: JSON evidence
        explode: true
        in: query
        name: evidence
        required: true
        schema:
          example: JSON_EVIDENCE_encoded
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BroadcastEvidenceResponse'
          description: Broadcast evidence of the misbehavior.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Broadcast evidence of the misbehavior.
      tags:
      - Evidence
components:
  schemas:
    JSONRPC:
      properties:
        id:
          example: 0
          type: integer
        jsonrpc:
          example: "2.0"
          type: string
      type: object
    EmptyResponse:
      allOf:
      - $ref: '#/components/schemas/JSONRPC'
      - $ref: '#/components/schemas/EmptyResponse_allOf'
      description: Empty Response
    ErrorResponse:
      allOf:
      - $ref: '#/components/schemas/JSONRPC'
      - $ref: '#/components/schemas/ErrorResponse_allOf'
      description: Error Response
    ProtocolVersion:
      properties:
        p2p:
          example: "7"
          type: string
        block:
          example: "10"
          type: string
        app:
          example: "0"
          type: string
      type: object
    PubKey:
      example:
        type: tendermint/PubKeyEd25519
        value: A6DoBUypNtUAyEHWtQ9bFjfNg8Bo9CrnkUGl6k6OHN4=
      properties:
        type:
          example: tendermint/PubKeyEd25519
          type: string
        value:
          example: A6DoBUypNtUAyEHWtQ9bFjfNg8Bo9CrnkUGl6k6OHN4=
          type: string
      type: object
    NodeInfo:
      properties:
        protocol_version:
          $ref: '#/components/schemas/ProtocolVersion'
        id:
          example: 5576458aef205977e18fd50b274e9b5d9014525a
          type: string
        listen_addr:
          example: tcp://0.0.0.0:26656
          type: string
        network:
          example: cosmoshub-2
          type: string
        version:
          example: 0.32.1
          type: string
        channels:
          example: "4020212223303800"
          type: string
        moniker:
          example: moniker-node
          type: string
        other:
          $ref: '#/components/schemas/NodeInfo_other'
      type: object
    SyncInfo:
      properties:
        latest_block_hash:
          example: 790BA84C3545FCCC49A5C629CEE6EA58A6E875C3862175BDC11EE7AF54703501
          type: string
        latest_app_hash:
          example: C9AEBB441B787D9F1D846DE51F3826F4FD386108B59B08239653ABF59455C3F8
          type: string
        latest_block_height:
          example: "1262196"
          type: string
        latest_block_time:
          example: 2019-08-01T11:52:22.818762194Z
          type: string
        earliest_block_hash:
          example: 790BA84C3545FCCC49A5C629CEE6EA58A6E875C3862175BDC11EE7AF54703501
          type: string
        earliest_app_hash:
          example: C9AEBB441B787D9F1D846DE51F3826F4FD386108B59B08239653ABF59455C3F8
          type: string
        earliest_block_height:
          example: "1262196"
          type: string
        earliest_block_time:
          example: 2019-08-01T11:52:22.818762194Z
          type: string
        max_peer_block_height:
          example: "1262196"
          type: string
        catching_up:
          example: false
          type: boolean
        total_synced_time:
          example: "1000000000"
          type: string
        remaining_time:
          example: "0"
          type: string
        total_snapshots:
          example: "10"
          type: string
        chunk_process_avg_time:
          example: "1000000000"
          type: string
        snapshot_height:
          example: "1262196"
          type: string
        snapshot_chunks_count:
          example: "10"
          type: string
        snapshot_chunks_total:
          example: "100"
          type: string
        backfilled_blocks:
          example: "10"
          type: string
        backfill_blocks_total:
          example: "100"
          type: string
      type: object
    ValidatorInfo:
      properties:
        address:
          example: 5D6A51A8E9899C44079C6AF90618BA0369070E6E
          type: string
        pub_key:
          $ref: '#/components/schemas/PubKey'
        voting_power:
          example: "0"
          type: string
      type: object
    Status:
      description: Status Response
      properties:
        node_info:
          $ref: '#/components/schemas/NodeInfo'
        sync_info:
          $ref: '#/components/schemas/SyncInfo'
        validator_info:
          $ref: '#/components/schemas/ValidatorInfo'
      type: object
    StatusResponse:
      allOf:
      - $ref: '#/components/schemas/JSONRPC'
      - $ref: '#/components/schemas/StatusResponse_allOf'
      description: Status Response
    Monitor:
      properties:
        Active:
          example: true
          type: boolean
        Start:
          example: 2019-07-31T14:31:28.66Z
          type: string
        Duration:
          example: "168901060000000"
          type: string
        Idle:
          example: "168901040000000"
          type: string
        Bytes:
          example: "5"
          type: string
        Samples:
          example: "1"
          type: string
        InstRate:
          example: "0"
          type: string
        CurRate:
          example: "0"
          type: string
        AvgRate:
          example: "0"
          type: string
        PeakRate:
          example: "0"
          type: string
        BytesRem:
          example: "0"
          type: string
        TimeRem:
          example: "0"
          type: string
        Progress:
          example: 0
          type: integer
      type: object
    Channel:
      properties:
        ID:
          example: 48
          type: integer
        SendQueueCapacity:
          example: "1"
          type: string
        SendQueueSize:
          example: "0"
          type: string
        Priority:
          example: "5"
          type: string
        RecentlySent:
          example: "0"
          type: string
      type: object
    ConnectionStatus:
      properties:
        Duration:
          example: "168901057956119"
          type: string
        SendMonitor:
          $ref: '#/components/schemas/Monitor'
        RecvMonitor:
          $ref: '#/components/schemas/Monitor'
        Channels:
          items:
            $ref: '#/components/schemas/Channel'
          type: array
      type: object
    Peer:
      properties:
        node_id:
          example: ""
          type: string
        url:
          example: <id>@95.179.155.35:2385>
          type: string
      type: object
    NetInfo:
      properties:
        listening:
          example: true
          type: boolean
        listeners:
          items:
            example: Listener(@)
            type: string
          type: array
        n_peers:
          example: "1"
          type: string
        peers:
          items:
            $ref: '#/components/schemas/Peer'
          type: array
      type: object
    NetInfoResponse:
      allOf:
      - $ref: '#/components/schemas/JSONRPC'
      - $ref: '#/components/schemas/NetInfoResponse_allOf'
      description: NetInfo Response
    BlockMeta:
      properties:
        block_id:
          $ref: '#/components/schemas/BlockID'
        block_size:
          example: 1000000
          type: integer
        header:
          $ref: '#/components/schemas/BlockHeader'
        num_txs:
          example: "54"
          type: string
      type: object
    Blockchain:
      properties:
        last_height:
          example: "1276718"
          type: string
        block_metas:
          items:
            $ref: '#/components/schemas/BlockMeta'
          type: array
      required:
      - block_metas
      - last_height
      type: object
    BlockchainResponse:
      allOf:
      - $ref: '#/components/schemas/JSONRPC'
      - $ref: '#/components/schemas/BlockchainResponse_allOf'
      description: Blockchain info
    Commit:
      example:
        round: 0
        signature: DBchvucTzAUEJnGYpNvMdqLhBAHG4Px8BsOBB3J3mAFCLGeuG7uJqy+nVngKzZdPhPi8RhmE/xcw/M9DOJjEDg==
        validator_address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
        validator_index: 0
        type: 2
        block_id:
          parts:
            total: 1
            hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
          hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
        height: "1262085"
        timestamp: 2019-08-01T11:39:38.867269833Z
      properties:
        type:
          example: 2
          type: integer
        height:
          example: "1262085"
          type: string
        round:
          example: 0
          type: integer
        block_id:
          $ref: '#/components/schemas/BlockID'
        timestamp:
          example: 2019-08-01T11:39:38.867269833Z
          type: string
        validator_address:
          example: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
          type: string
        validator_index:
          example: 0
          type: integer
        signature:
          example: DBchvucTzAUEJnGYpNvMdqLhBAHG4Px8BsOBB3J3mAFCLGeuG7uJqy+nVngKzZdPhPi8RhmE/xcw/M9DOJjEDg==
          type: string
      required:
      - block_id
      - height
      - round
      - signature
      - timestamp
      - type
      - validator_address
      - validator_index
    Block:
      example:
        data:
        - yQHwYl3uCkKoo2GaChRnd+THLQ2RM87nEZrE19910Z28ABIUWW/t8AtIMwcyU0sT32RcMDI9GF0aEAoFdWF0b20SBzEwMDAwMDASEwoNCgV1YXRvbRIEMzEwMRCd8gEaagom61rphyEDoJPxlcjRoNDtZ9xMdvs+lRzFaHe2dl2P5R2yVCWrsHISQKkqX5H1zXAIJuC57yw0Yb03Fwy75VRip0ZBtLiYsUqkOsPUoQZAhDNP+6LY+RUwz/nVzedkF0S29NZ32QXdGv0=
        - yQHwYl3uCkKoo2GaChRnd+THLQ2RM87nEZrE19910Z28ABIUWW/t8AtIMwcyU0sT32RcMDI9GF0aEAoFdWF0b20SBzEwMDAwMDASEwoNCgV1YXRvbRIEMzEwMRCd8gEaagom61rphyEDoJPxlcjRoNDtZ9xMdvs+lRzFaHe2dl2P5R2yVCWrsHISQKkqX5H1zXAIJuC57yw0Yb03Fwy75VRip0ZBtLiYsUqkOsPUoQZAhDNP+6LY+RUwz/nVzedkF0S29NZ32QXdGv0=
        evidence:
        - total_voting_power: 1
          validator:
            address: address
            pub_key:
              type: tendermint/PubKeyEd25519
              value: A6DoBUypNtUAyEHWtQ9bFjfNg8Bo9CrnkUGl6k6OHN4=
            voting_power: 5
          time: 6
          type: type
          height: 0
        - total_voting_power: 1
          validator:
            address: address
            pub_key:
              type: tendermint/PubKeyEd25519
              value: A6DoBUypNtUAyEHWtQ9bFjfNg8Bo9CrnkUGl6k6OHN4=
            voting_power: 5
          time: 6
          type: type
          height: 0
        last_commit:
          round: 2
          block_id:
            parts:
              total: 1
              hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
            hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
          signatures:
          - round: 0
            signature: DBchvucTzAUEJnGYpNvMdqLhBAHG4Px8BsOBB3J3mAFCLGeuG7uJqy+nVngKzZdPhPi8RhmE/xcw/M9DOJjEDg==
            validator_address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
            validator_index: 0
            type: 2
            block_id:
              parts:
                total: 1
                hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
              hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
            height: "1262085"
            timestamp: 2019-08-01T11:39:38.867269833Z
          - round: 0
            signature: DBchvucTzAUEJnGYpNvMdqLhBAHG4Px8BsOBB3J3mAFCLGeuG7uJqy+nVngKzZdPhPi8RhmE/xcw/M9DOJjEDg==
            validator_address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
            validator_index: 0
            type: 2
            block_id:
              parts:
                total: 1
                hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
              hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
            height: "1262085"
            timestamp: 2019-08-01T11:39:38.867269833Z
          height: 5
        header:
          validators_hash: D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0
          chain_id: cosmoshub-2
          consensus_hash: 0F2908883A105C793B74495EB7D6DF2EEA479ED7FC9349206A65CB0F9987A0B8
          proposer_address: D540AB022088612AC74B287D076DBFBC4A377A2E
          next_validators_hash: D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0
          version:
            app: "0"
            block: "10"
          data_hash: 970886F99E77ED0D60DA8FCE0447C2676E59F2F77302B0C4AA10E1D02F18EF73
          last_results_hash: ""
          last_block_id:
            parts:
              total: 1
              hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
            hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
          evidence_hash: ""
          app_hash: 223BF64D4A01074DC523A80E76B9BBC786C791FB0A1893AC5B14866356FCFD6C
          time: 2019-04-22T17:01:51.701356223Z
          height: "12"
          last_commit_hash: 21B9BC845AD2CB2C4193CDD17BFC506F1EBE5A7402E84AD96E64171287A34812
      properties:
        header:
          $ref: '#/components/schemas/BlockHeader'
        data:
          items:
            example: yQHwYl3uCkKoo2GaChRnd+THLQ2RM87nEZrE19910Z28ABIUWW/t8AtIMwcyU0sT32RcMDI9GF0aEAoFdWF0b20SBzEwMDAwMDASEwoNCgV1YXRvbRIEMzEwMRCd8gEaagom61rphyEDoJPxlcjRoNDtZ9xMdvs+lRzFaHe2dl2P5R2yVCWrsHISQKkqX5H1zXAIJuC57yw0Yb03Fwy75VRip0ZBtLiYsUqkOsPUoQZAhDNP+6LY+RUwz/nVzedkF0S29NZ32QXdGv0=
            type: string
          type: array
        evidence:
          items:
            $ref: '#/components/schemas/Evidence'
          type: array
        last_commit:
          $ref: '#/components/schemas/Block_last_commit'
      type: object
    Evidence:
      example:
        total_voting_power: 1
        validator:
          address: address
          pub_key:
            type: tendermint/PubKeyEd25519
            value: A6DoBUypNtUAyEHWtQ9bFjfNg8Bo9CrnkUGl6k6OHN4=
          voting_power: 5
        time: 6
        type: type
        height: 0
      properties:
        type:
          type: string
        height:
          type: integer
        time:
          type: integer
        total_voting_power:
          type: integer
        validator:
          $ref: '#/components/schemas/Validator'
      type: object
    BlockComplete:
      example:
        block:
          data:
          - yQHwYl3uCkKoo2GaChRnd+THLQ2RM87nEZrE19910Z28ABIUWW/t8AtIMwcyU0sT32RcMDI9GF0aEAoFdWF0b20SBzEwMDAwMDASEwoNCgV1YXRvbRIEMzEwMRCd8gEaagom61rphyEDoJPxlcjRoNDtZ9xMdvs+lRzFaHe2dl2P5R2yVCWrsHISQKkqX5H1zXAIJuC57yw0Yb03Fwy75VRip0ZBtLiYsUqkOsPUoQZAhDNP+6LY+RUwz/nVzedkF0S29NZ32QXdGv0=
          - yQHwYl3uCkKoo2GaChRnd+THLQ2RM87nEZrE19910Z28ABIUWW/t8AtIMwcyU0sT32RcMDI9GF0aEAoFdWF0b20SBzEwMDAwMDASEwoNCgV1YXRvbRIEMzEwMRCd8gEaagom61rphyEDoJPxlcjRoNDtZ9xMdvs+lRzFaHe2dl2P5R2yVCWrsHISQKkqX5H1zXAIJuC57yw0Yb03Fwy75VRip0ZBtLiYsUqkOsPUoQZAhDNP+6LY+RUwz/nVzedkF0S29NZ32QXdGv0=
          evidence:
          - total_voting_power: 1
            validator:
              address: address
              pub_key:
                type: tendermint/PubKeyEd25519
                value: A6DoBUypNtUAyEHWtQ9bFjfNg8Bo9CrnkUGl6k6OHN4=
              voting_power: 5
            time: 6
            type: type
            height: 0
          - total_voting_power: 1
            validator:
              address: address
              pub_key:
                type: tendermint/PubKeyEd25519
                value: A6DoBUypNtUAyEHWtQ9bFjfNg8Bo9CrnkUGl6k6OHN4=
              voting_power: 5
            time: 6
            type: type
            height: 0
          last_commit:
            round: 2
            block_id:
              parts:
                total: 1
                hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
              hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
            signatures:
            - round: 0
              signature: DBchvucTzAUEJnGYpNvMdqLhBAHG4Px8BsOBB3J3mAFCLGeuG7uJqy+nVngKzZdPhPi8RhmE/xcw/M9DOJjEDg==
              validator_address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
              validator_index: 0
              type: 2
              block_id:
                parts:
                  total: 1
                  hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
                hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
              height: "1262085"
              timestamp: 2019-08-01T11:39:38.867269833Z
            - round: 0
              signature: DBchvucTzAUEJnGYpNvMdqLhBAHG4Px8BsOBB3J3mAFCLGeuG7uJqy+nVngKzZdPhPi8RhmE/xcw/M9DOJjEDg==
              validator_address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
              validator_index: 0
              type: 2
              block_id:
                parts:
                  total: 1
                  hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
                hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
              height: "1262085"
              timestamp: 2019-08-01T11:39:38.867269833Z
            height: 5
          header:
            validators_hash: D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0
            chain_id: cosmoshub-2
            consensus_hash: 0F2908883A105C793B74495EB7D6DF2EEA479ED7FC9349206A65CB0F9987A0B8
            proposer_address: D540AB022088612AC74B287D076DBFBC4A377A2E
            next_validators_hash: D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0
            version:
              app: "0"
              block: "10"
            data_hash: 970886F99E77ED0D60DA8FCE0447C2676E59F2F77302B0C4AA10E1D02F18EF73
            last_results_hash: ""
            last_block_id:
              parts:
                total: 1
                hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
              hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
            evidence_hash: ""
            app_hash: 223BF64D4A01074DC523A80E76B9BBC786C791FB0A1893AC5B14866356FCFD6C
            time: 2019-04-22T17:01:51.701356223Z
            height: "12"
            last_commit_hash: 21B9BC845AD2CB2C4193CDD17BFC506F1EBE5A7402E84AD96E64171287A34812
        block_id:
          parts:
            total: 1
            hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
          hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
      properties:
        block_id:
          $ref: '#/components/schemas/BlockID'
        block:
          $ref: '#/components/schemas/Block'
      type: object
    BlockResponse:
      allOf:
      - $ref: '#/components/schemas/JSONRPC'
      - $ref: '#/components/schemas/BlockResponse_allOf'
      description: Block info
    HeaderResponse:
      allOf:
      - $ref: '#/components/schemas/JSONRPC'
      - $ref: '#/components/schemas/HeaderResponse_allOf'
      description: Block Header info
    BlockResultsResponse:
      example:
        result:
          txs_results:
          - code: "0"
            codespace: ibc
            data: ""
            log: not enough gas
            gas_used: "100"
            gas_wanted: "100"
            events:
            - attributes:
              - index: false
                value: c2VuZA==
                key: YWN0aW9u
              - index: false
                value: c2VuZA==
                key: YWN0aW9u
              type: app
            - attributes:
              - index: false
                value: c2VuZA==
                key: YWN0aW9u
              - index: false
                value: c2VuZA==
                key: YWN0aW9u
              type: app
            info: ""
          - code: "0"
            codespace: ibc
            data: ""
            log: not enough gas
            gas_used: "100"
            gas_wanted: "100"
            events:
            - attributes:
              - index: false
                value: c2VuZA==
                key: YWN0aW9u
              - index: false
                value: c2VuZA==
                key: YWN0aW9u
              type: app
            - attributes:
              - index: false
                value: c2VuZA==
                key: YWN0aW9u
              - index: false
                value: c2VuZA==
                key: YWN0aW9u
              type: app
            info: ""
          total_gas_used: "100"
          begin_block_events:
          - attributes:
            - index: false
              value: c2VuZA==
              key: YWN0aW9u
            - index: false
              value: c2VuZA==
              key: YWN0aW9u
            type: app
          - attributes:
            - index: false
              value: c2VuZA==
              key: YWN0aW9u
            - index: false
              value: c2VuZA==
              key: YWN0aW9u
            type: app
          consensus_params_updates:
            evidence:
              max_age: "100000"
            validator:
              pub_key_types:
              - ed25519
            block:
              time_iota_ms: "1000"
              max_bytes: "22020096"
              max_gas: "1000"
          validator_updates:
          - power: "300"
            pub_key:
              type: tendermint/PubKeyEd25519
              value: 9tK9IT+FPdf2qm+5c2qaxi10sWP+3erWTKgftn2PaQM=
          - power: "300"
            pub_key:
              type: tendermint/PubKeyEd25519
              value: 9tK9IT+FPdf2qm+5c2qaxi10sWP+3erWTKgftn2PaQM=
          end_block:
          - attributes:
            - index: false
              value: c2VuZA==
              key: YWN0aW9u
            - index: false
              value: c2VuZA==
              key: YWN0aW9u
            type: app
          - attributes:
            - index: false
              value: c2VuZA==
              key: YWN0aW9u
            - index: false
              value: c2VuZA==
              key: YWN0aW9u
            type: app
          height: "12"
        id: 0
        jsonrpc: "2.0"
      properties:
        jsonrpc:
          example: "2.0"
          type: string
        id:
          example: 0
          type: integer
        result:
          $ref: '#/components/schemas/BlockResultsResponse_result'
      required:
      - id
      - jsonrpc
      - result
      type: object
    CommitResponse:
      example:
        result:
          signed_header:
            commit:
              round: 0
              block_id:
                parts:
                  total: 1
                  hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
                hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
              signatures:
              - signature: 14jaTQXYRt8kbLKEhdHq7AXycrFImiLuZx50uOjs2+Zv+2i7RTG/jnObD07Jo2ubZ8xd7bNBJMqkgtkd0oQHAw==
                validator_address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
                block_id_flag: 2
                timestamp: 2019-04-22T17:01:58.376629719Z
              - signature: 14jaTQXYRt8kbLKEhdHq7AXycrFImiLuZx50uOjs2+Zv+2i7RTG/jnObD07Jo2ubZ8xd7bNBJMqkgtkd0oQHAw==
                validator_address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
                block_id_flag: 2
                timestamp: 2019-04-22T17:01:58.376629719Z
              height: "1311801"
            header:
              validators_hash: D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0
              chain_id: cosmoshub-2
              consensus_hash: 0F2908883A105C793B74495EB7D6DF2EEA479ED7FC9349206A65CB0F9987A0B8
              proposer_address: D540AB022088612AC74B287D076DBFBC4A377A2E
              next_validators_hash: D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0
              version:
                app: "0"
                block: "10"
              data_hash: 970886F99E77ED0D60DA8FCE0447C2676E59F2F77302B0C4AA10E1D02F18EF73
              last_results_hash: ""
              last_block_id:
                parts:
                  total: 1
                  hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
                hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
              evidence_hash: ""
              app_hash: 223BF64D4A01074DC523A80E76B9BBC786C791FB0A1893AC5B14866356FCFD6C
              time: 2019-04-22T17:01:51.701356223Z
              height: "12"
              last_commit_hash: 21B9BC845AD2CB2C4193CDD17BFC506F1EBE5A7402E84AD96E64171287A34812
          canonical: true
        id: 0
        jsonrpc: "2.0"
      properties:
        jsonrpc:
          example: "2.0"
          type: string
        id:
          example: 0
          type: integer
        result:
          $ref: '#/components/schemas/CommitResponse_result'
      required:
      - id
      - jsonrpc
      - result
      type: object
    ValidatorsResponse:
      example:
        result:
          total: "25"
          validators:
          - address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
            proposer_priority: "-11896414"
            pub_key:
              type: tendermint/PubKeyEd25519
              value: 9tK9IT+FPdf2qm+5c2qaxi10sWP+3erWTKgftn2PaQM=
            voting_power: "239727"
          - address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
            proposer_priority: "-11896414"
            pub_key:
              type: tendermint/PubKeyEd25519
              value: 9tK9IT+FPdf2qm+5c2qaxi10sWP+3erWTKgftn2PaQM=
            voting_power: "239727"
          count: "1"
          block_height: "55"
        id: 0
        jsonrpc: "2.0"
      properties:
        jsonrpc:
          example: "2.0"
          type: string
        id:
          example: 0
          type: integer
        result:
          $ref: '#/components/schemas/ValidatorsResponse_result'
      required:
      - id
      - jsonrpc
      - result
      type: object
    GenesisResponse:
      example:
        result:
          genesis:
            app_state: "{}"
            genesis_time: 2019-04-22T17:00:00Z
            chain_id: cosmoshub-2
            initial_height: "2"
            validators:
            - address: B00A6323737F321EB0B8D59C6FD497A14B60938A
              name: Certus One
              power: "9328525"
              pub_key:
                type: tendermint/PubKeyEd25519
                value: cOQZvh/h9ZioSeUMZB/1Vy1Xo5x2sjrVjlE/qHnYifM=
            - address: B00A6323737F321EB0B8D59C6FD497A14B60938A
              name: Certus One
              power: "9328525"
              pub_key:
                type: tendermint/PubKeyEd25519
                value: cOQZvh/h9ZioSeUMZB/1Vy1Xo5x2sjrVjlE/qHnYifM=
            consensus_params:
              evidence:
                max_age: "100000"
              validator:
                pub_key_types:
                - ed25519
              block:
                time_iota_ms: "1000"
                max_bytes: "22020096"
                max_gas: "1000"
            app_hash: ""
        id: 0
        jsonrpc: "2.0"
      properties:
        jsonrpc:
          example: "2.0"
          type: string
        id:
          example: 0
          type: integer
        result:
          $ref: '#/components/schemas/GenesisResponse_result'
      required:
      - id
      - jsonrpc
      - result
      type: object
    GenesisChunkedResponse:
      example:
        result: "{}"
        id: 0
        jsonrpc: "2.0"
      properties:
        jsonrpc:
          example: "2.0"
          type: string
        id:
          example: 0
          type: integer
        result:
          properties:
            chunk:
              example: 0
              type: integer
            total:
              example: 1
              type: integer
            data:
              example: Z2VuZXNpcwo=
              type: string
          required:
          - chunk
          - data
          - total
      required:
      - id
      - jsonrpc
      - result
      type: object
    DumpConsensusResponse:
      example:
        result:
          peers:
          - peer_state:
              stats:
                block_parts: "4786"
                votes: "1159558"
              round_state:
                proposal: false
                last_commit: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                catchup_commit_round: -1
                last_commit_round: 0
                catchup_commit: ____________________________________________________________________________________________________
                proposal_pol: ____________________________________________________________________________________________________
                precommits: ____________________________________________________________________________________________________
                prevotes: ___________________x________________________________________________________________________________
                start_time: 2019-08-05T11:28:49.21730864Z
                proposal_block_parts_header:
                  total: 0
                  hash: ""
                round: "0"
                step: 3
                proposal_pol_round: -1
                height: "1311801"
            node_address: 357f6a6c1d27414579a8185060aa8adf9815c43c@68.183.41.207:26656
          - peer_state:
              stats:
                block_parts: "4786"
                votes: "1159558"
              round_state:
                proposal: false
                last_commit: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                catchup_commit_round: -1
                last_commit_round: 0
                catchup_commit: ____________________________________________________________________________________________________
                proposal_pol: ____________________________________________________________________________________________________
                precommits: ____________________________________________________________________________________________________
                prevotes: ___________________x________________________________________________________________________________
                start_time: 2019-08-05T11:28:49.21730864Z
                proposal_block_parts_header:
                  total: 0
                  hash: ""
                round: "0"
                step: 3
                proposal_pol_round: -1
                height: "1311801"
            node_address: 357f6a6c1d27414579a8185060aa8adf9815c43c@68.183.41.207:26656
          round_state:
            locked_round: -1
            last_commit:
              votes_bit_array: "BA{100:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx}\
                \ 170220253/170220253 = 1.00"
              peer_maj_23s: "{}"
              votes:
              - "Vote{0:000001E443FD 1311800/00/2(Precommit) 3071ADB27D1A 77EE1B6B6847\
                \ @ 2019-08-05T11:28:43.810128139Z}"
            validators:
              validators:
              - address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
                proposer_priority: "-11896414"
                pub_key:
                  type: tendermint/PubKeyEd25519
                  value: 9tK9IT+FPdf2qm+5c2qaxi10sWP+3erWTKgftn2PaQM=
                voting_power: "239727"
              - address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
                proposer_priority: "-11896414"
                pub_key:
                  type: tendermint/PubKeyEd25519
                  value: 9tK9IT+FPdf2qm+5c2qaxi10sWP+3erWTKgftn2PaQM=
                voting_power: "239727"
              proposer:
                address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
                proposer_priority: "-11896414"
                pub_key:
                  type: tendermint/PubKeyEd25519
                  value: 9tK9IT+FPdf2qm+5c2qaxi10sWP+3erWTKgftn2PaQM=
                voting_power: "239727"
            commit_time: 2019-08-05T11:28:44.064658805Z
            commit_round: -1
            triggered_timeout_precommit: false
            last_validators:
              validators:
              - address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
                proposer_priority: "-11896414"
                pub_key:
                  type: tendermint/PubKeyEd25519
                  value: 9tK9IT+FPdf2qm+5c2qaxi10sWP+3erWTKgftn2PaQM=
                voting_power: "239727"
              - address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
                proposer_priority: "-11896414"
                pub_key:
                  type: tendermint/PubKeyEd25519
                  value: 9tK9IT+FPdf2qm+5c2qaxi10sWP+3erWTKgftn2PaQM=
                voting_power: "239727"
              proposer:
                address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
                proposer_priority: "-11896414"
                pub_key:
                  type: tendermint/PubKeyEd25519
                  value: 9tK9IT+FPdf2qm+5c2qaxi10sWP+3erWTKgftn2PaQM=
                voting_power: "239727"
            start_time: 2019-08-05T11:28:49.064658805Z
            round: 0
            valid_round: "-1"
            step: 3
            votes:
            - prevotes:
              - nil-Vote
              - "Vote{19:46A3F8B8393B 1311801/00/1(Prevote) 000000000000 64CE682305CB\
                \ @ 2019-08-05T11:28:47.374703444Z}"
              prevotes_bit_array: "BA{100:___________________x________________________________________________________________________________}\
                \ 209706/170220253 = 0.00"
              round: "0"
              precommits_bit_array: "BA{100:____________________________________________________________________________________________________}\
                \ 0/170220253 = 0.00"
              precommits:
              - nil-Vote
            - prevotes:
              - nil-Vote
              - "Vote{19:46A3F8B8393B 1311801/00/1(Prevote) 000000000000 64CE682305CB\
                \ @ 2019-08-05T11:28:47.374703444Z}"
              prevotes_bit_array: "BA{100:___________________x________________________________________________________________________________}\
                \ 209706/170220253 = 0.00"
              round: "0"
              precommits_bit_array: "BA{100:____________________________________________________________________________________________________}\
                \ 0/170220253 = 0.00"
              precommits:
              - nil-Vote
            height: "1311801"
        id: 0
        jsonrpc: "2.0"
      properties:
        jsonrpc:
          example: "2.0"
          type: string
        id:
          example: 0
          type: integer
        result:
          $ref: '#/components/schemas/DumpConsensusResponse_result'
      required:
      - id
      - jsonrpc
      - result
      type: object
    ConsensusStateResponse:
      example:
        result:
          round_state:
            proposal_block_hash: 634ADAF1F402663BEC2ABC340ECE8B4B45AA906FA603272ACC5F5EED3097E009
            start_time: 2019-08-01T11:52:38.962730289Z
            locked_block_hash: 634ADAF1F402663BEC2ABC340ECE8B4B45AA906FA603272ACC5F5EED3097E009
            proposer:
              address: D540AB022088612AC74B287D076DBFBC4A377A2E
              index: 0
            valid_block_hash: 634ADAF1F402663BEC2ABC340ECE8B4B45AA906FA603272ACC5F5EED3097E009
            height_vote_set:
            - prevotes:
              - "Vote{0:000001E443FD 1262197/00/1(Prevote) 634ADAF1F402 7BB974E1BA40\
                \ @ 2019-08-01T11:52:35.513572509Z}"
              - nil-Vote
              prevotes_bit_array: "BA{100:xxxxxxxxxxxxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx}\
                \ 169753436/170151262 = 1.00"
              round: 0
              precommits_bit_array: "BA{100:xxxxxx_xxxxx_xxxx_x_xxx_xx_xx_xx__x_x_x__xxxxxxxxxxxxxx_xxxx_xx_xxxxxx_xxxxxxxx_xxxx_xxx_x_xxxx__xxx}\
                \ 118726247/170151262 = 0.70"
              precommits:
              - "Vote{5:18C78D135C9D 1262197/00/2(Precommit) 634ADAF1F402 8B5EFFFEABCD\
                \ @ 2019-08-01T11:52:36.25600005Z}"
              - nil-Vote
            - prevotes:
              - "Vote{0:000001E443FD 1262197/00/1(Prevote) 634ADAF1F402 7BB974E1BA40\
                \ @ 2019-08-01T11:52:35.513572509Z}"
              - nil-Vote
              prevotes_bit_array: "BA{100:xxxxxxxxxxxxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx}\
                \ 169753436/170151262 = 1.00"
              round: 0
              precommits_bit_array: "BA{100:xxxxxx_xxxxx_xxxx_x_xxx_xx_xx_xx__x_x_x__xxxxxxxxxxxxxx_xxxx_xx_xxxxxx_xxxxxxxx_xxxx_xxx_x_xxxx__xxx}\
                \ 118726247/170151262 = 0.70"
              precommits:
              - "Vote{5:18C78D135C9D 1262197/00/2(Precommit) 634ADAF1F402 8B5EFFFEABCD\
                \ @ 2019-08-01T11:52:36.25600005Z}"
              - nil-Vote
            height/round/step: 1262197/0/8
        id: 0
        jsonrpc: "2.0"
      properties:
        jsonrpc:
          example: "2.0"
          type: string
        id:
          example: 0
          type: integer
        result:
          $ref: '#/components/schemas/ConsensusStateResponse_result'
      required:
      - id
      - jsonrpc
      - result
      type: object
    ConsensusParamsResponse:
      example:
        result:
          consensus_params:
            evidence:
              max_age: "100000"
            validator:
              pub_key_types:
              - ed25519
            block:
              time_iota_ms: "1000"
              max_bytes: "22020096"
              max_gas: "1000"
          block_height: "1"
        id: 0
        jsonrpc: "2.0"
      properties:
        jsonrpc:
          example: "2.0"
          type: string
        id:
          example: 0
          type: integer
        result:
          $ref: '#/components/schemas/ConsensusParamsResponse_result'
      required:
      - id
      - jsonrpc
      - result
      type: object
    NumUnconfirmedTransactionsResponse:
      example:
        result:
          total: "82"
          n_txs: "31"
          total_bytes: "19974"
        id: 0
        jsonrpc: "2.0"
      properties:
        jsonrpc:
          example: "2.0"
          type: string
        id:
          example: 0
          type: integer
        result:
          $ref: '#/components/schemas/NumUnconfirmedTransactionsResponse_result'
      required:
      - id
      - jsonrpc
      - result
      type: object
    UnconfirmedTransactionsResponse:
      example:
        result:
          total: "82"
          n_txs: "82"
          total_bytes: "19974"
          txs:
          - gAPwYl3uCjCMTXENChSMnIkb5ZpYHBKIZqecFEV2tuZr7xIUA75/FmYq9WymsOBJ0XSJ8yV8zmQKMIxNcQ0KFIyciRvlmlgcEohmp5wURXa25mvvEhQbrvwbvlNiT+Yjr86G+YQNx7kRVgowjE1xDQoUjJyJG+WaWBwSiGannBRFdrbma+8SFK2m+1oxgILuQLO55n8mWfnbIzyPCjCMTXENChSMnIkb5ZpYHBKIZqecFEV2tuZr7xIUQNGfkmhTNMis4j+dyMDIWXdIPiYKMIxNcQ0KFIyciRvlmlgcEohmp5wURXa25mvvEhS8sL0D0wwgGCItQwVowak5YB38KRIUCg4KBXVhdG9tEgUxMDA1NBDoxRgaagom61rphyECn8x7emhhKdRCB2io7aS/6Cpuq5NbVqbODmqOT3jWw6kSQKUresk+d+Gw0BhjiggTsu8+1voW+VlDCQ1GRYnMaFOHXhyFv7BCLhFWxLxHSAYT8a5XqoMayosZf9mANKdXArA=
        id: 0
        jsonrpc: "2.0"
      properties:
        jsonrpc:
          example: "2.0"
          type: string
        id:
          example: 0
          type: integer
        result:
          $ref: '#/components/schemas/UnconfirmedTransactionsResponse_result'
      required:
      - id
      - jsonrpc
      - result
      type: object
    TxSearchResponse:
      example:
        result:
          total_count: "2"
          txs:
          - tx: 5wHwYl3uCkaoo2GaChQmSIu8hxpJxLcCuIi8fiHN4TMwrRIU/Af1cEG7Rcs/6LjTl7YjRSymJfYaFAoFdWF0b20SCzE0OTk5OTk1MDAwEhMKDQoFdWF0b20SBDUwMDAQwJoMGmoKJuta6YchAwswBShaB1wkZBctLIhYqBC3JrAI28XGzxP+rVEticGEEkAc+khTkKL9CDE47aDvjEHvUNt+izJfT4KVF2v2JkC+bmlH9K08q3PqHeMI9Z5up+XMusnTqlP985KF+SI5J3ZOIhhNYWRlIGJ5IENpcmNsZSB3aXRoIGxvdmU=
            tx_result:
              log: "[{\"msg_index\":\"0\",\"success\":true,\"log\":\"\"}]"
              gas_used: "28596"
              gas_wanted: "200000"
              tags:
                index: false
                value: c2VuZA==
                key: YWN0aW9u
            index: 0
            proof:
              RootHash: 72FE6BF6D4109105357AECE0A82E99D0F6288854D16D8767C5E72C57F876A14D
              Proof:
                total: "2"
                leaf_hash: eoJxKCzF3m72Xiwb/Q43vJ37/2Sx8sfNS9JKJohlsYI=
                aunts:
                - eWb+HG/eMmukrQj4vNGyFYb3nKQncAWacq4HF5eFzDY=
                index: "0"
              Data: 5wHwYl3uCkaoo2GaChQmSIu8hxpJxLcCuIi8fiHN4TMwrRIU/Af1cEG7Rcs/6LjTl7YjRSymJfYaFAoFdWF0b20SCzE0OTk5OTk1MDAwEhMKDQoFdWF0b20SBDUwMDAQwJoMGmoKJuta6YchAwswBShaB1wkZBctLIhYqBC3JrAI28XGzxP+rVEticGEEkAc+khTkKL9CDE47aDvjEHvUNt+izJfT4KVF2v2JkC+bmlH9K08q3PqHeMI9Z5up+XMusnTqlP985KF+SI5J3ZOIhhNYWRlIGJ5IENpcmNsZSB3aXRoIGxvdmU=
            hash: D70952032620CC4E2737EB8AC379806359D8E0B17B0488F627997A0B043ABDED
            height: "1000"
          - tx: 5wHwYl3uCkaoo2GaChQmSIu8hxpJxLcCuIi8fiHN4TMwrRIU/Af1cEG7Rcs/6LjTl7YjRSymJfYaFAoFdWF0b20SCzE0OTk5OTk1MDAwEhMKDQoFdWF0b20SBDUwMDAQwJoMGmoKJuta6YchAwswBShaB1wkZBctLIhYqBC3JrAI28XGzxP+rVEticGEEkAc+khTkKL9CDE47aDvjEHvUNt+izJfT4KVF2v2JkC+bmlH9K08q3PqHeMI9Z5up+XMusnTqlP985KF+SI5J3ZOIhhNYWRlIGJ5IENpcmNsZSB3aXRoIGxvdmU=
            tx_result:
              log: "[{\"msg_index\":\"0\",\"success\":true,\"log\":\"\"}]"
              gas_used: "28596"
              gas_wanted: "200000"
              tags:
                index: false
                value: c2VuZA==
                key: YWN0aW9u
            index: 0
            proof:
              RootHash: 72FE6BF6D4109105357AECE0A82E99D0F6288854D16D8767C5E72C57F876A14D
              Proof:
                total: "2"
                leaf_hash: eoJxKCzF3m72Xiwb/Q43vJ37/2Sx8sfNS9JKJohlsYI=
                aunts:
                - eWb+HG/eMmukrQj4vNGyFYb3nKQncAWacq4HF5eFzDY=
                index: "0"
              Data: 5wHwYl3uCkaoo2GaChQmSIu8hxpJxLcCuIi8fiHN4TMwrRIU/Af1cEG7Rcs/6LjTl7YjRSymJfYaFAoFdWF0b20SCzE0OTk5OTk1MDAwEhMKDQoFdWF0b20SBDUwMDAQwJoMGmoKJuta6YchAwswBShaB1wkZBctLIhYqBC3JrAI28XGzxP+rVEticGEEkAc+khTkKL9CDE47aDvjEHvUNt+izJfT4KVF2v2JkC+bmlH9K08q3PqHeMI9Z5up+XMusnTqlP985KF+SI5J3ZOIhhNYWRlIGJ5IENpcmNsZSB3aXRoIGxvdmU=
            hash: D70952032620CC4E2737EB8AC379806359D8E0B17B0488F627997A0B043ABDED
            height: "1000"
        id: 0
        jsonrpc: "2.0"
      properties:
        jsonrpc:
          example: "2.0"
          type: string
        id:
          example: 0
          type: integer
        result:
          $ref: '#/components/schemas/TxSearchResponse_result'
      required:
      - id
      - jsonrpc
      - result
      type: object
    TxResponse:
      example:
        result:
          tx: 5wHwYl3uCkaoo2GaChQmSIu8hxpJxLcCuIi8fiHN4TMwrRIU/Af1cEG7Rcs/6LjTl7YjRSymJfYaFAoFdWF0b20SCzE0OTk5OTk1MDAwEhMKDQoFdWF0b20SBDUwMDAQwJoMGmoKJuta6YchAwswBShaB1wkZBctLIhYqBC3JrAI28XGzxP+rVEticGEEkAc+khTkKL9CDE47aDvjEHvUNt+izJfT4KVF2v2JkC+bmlH9K08q3PqHeMI9Z5up+XMusnTqlP985KF+SI5J3ZOIhhNYWRlIGJ5IENpcmNsZSB3aXRoIGxvdmU=
          tx_result:
            log: "[{\"msg_index\":\"0\",\"success\":true,\"log\":\"\"}]"
            gas_used: "28596"
            gas_wanted: "200000"
            tags:
            - index: false
              value: c2VuZA==
              key: YWN0aW9u
            - index: false
              value: c2VuZA==
              key: YWN0aW9u
          index: 0
          hash: D70952032620CC4E2737EB8AC379806359D8E0B17B0488F627997A0B043ABDED
          height: "1000"
        id: 0
        jsonrpc: "2.0"
      properties:
        jsonrpc:
          example: "2.0"
          type: string
        id:
          example: 0
          type: integer
        result:
          $ref: '#/components/schemas/TxResponse_result'
      required:
      - id
      - jsonrpc
      - result
      type: object
    ABCIInfoResponse:
      example:
        result:
          response:
            data: "{\"size\":0}"
            app_version: "1314126"
            version: 0.16.1
        id: 0
        jsonrpc: "2.0"
      properties:
        jsonrpc:
          example: "2.0"
          type: string
        id:
          example: 0
          type: integer
        result:
          $ref: '#/components/schemas/ABCIInfoResponse_result'
      required:
      - id
      - jsonrpc
      type: object
    ABCIQueryResponse:
      example:
        result:
          response:
            code: "0"
            log: exists
            index: "-1"
            proof: 010114FED0DAD959F36091AD761C922ABA3CBF1D8349990101020103011406AA2262E2F448242DF2C2607C3CDC705313EE3B0001149D16177BC71E445476174622EA559715C293740C
            value: "61626364"
            key: "61626364"
            height: "0"
        id: 0
        error: ""
        jsonrpc: "2.0"
      properties:
        error:
          example: ""
          type: string
        result:
          $ref: '#/components/schemas/ABCIQueryResponse_result'
        id:
          example: 0
          type: integer
        jsonrpc:
          example: "2.0"
          type: string
      required:
      - error
      - id
      - jsonrpc
      - result
      type: object
    BroadcastEvidenceResponse:
      example:
        result: ""
        id: 0
        error: ""
        jsonrpc: "2.0"
      properties:
        error:
          example: ""
          type: string
        result:
          example: ""
          type: string
        id:
          example: 0
          type: integer
        jsonrpc:
          example: "2.0"
          type: string
      required:
      - id
      - jsonrpc
      type: object
    BroadcastTxCommitResponse:
      example:
        result:
          check_tx:
            code: "0"
            data: ""
            log: ""
          deliver_tx:
            code: "0"
            data: ""
            log: ""
          hash: 75CA0F856A4DA078FC4911580360E70CEFB2EBEE
          height: "26682"
        id: 0
        error: ""
        jsonrpc: "2.0"
      properties:
        error:
          example: ""
          type: string
        result:
          $ref: '#/components/schemas/BroadcastTxCommitResponse_result'
        id:
          example: 0
          type: integer
        jsonrpc:
          example: "2.0"
          type: string
      required:
      - error
      - id
      - jsonrpc
      - result
      type: object
    CheckTxResponse:
      example:
        result:
          code: "0"
          codespace: bank
          data: ""
          log: ""
          gas_used: "0"
          gas_wanted: "1"
          events:
          - attributes:
            - index: false
              value: c2VuZA==
              key: YWN0aW9u
            - index: false
              value: c2VuZA==
              key: YWN0aW9u
            type: app
          - attributes:
            - index: false
              value: c2VuZA==
              key: YWN0aW9u
            - index: false
              value: c2VuZA==
              key: YWN0aW9u
            type: app
          info: ""
        id: 0
        error: ""
        jsonrpc: "2.0"
      properties:
        error:
          example: ""
          type: string
        result:
          $ref: '#/components/schemas/CheckTxResponse_result'
        id:
          example: 0
          type: integer
        jsonrpc:
          example: "2.0"
          type: string
      required:
      - error
      - id
      - jsonrpc
      - result
      type: object
    BroadcastTxResponse:
      example:
        result:
          code: "0"
          codespace: ibc
          data: ""
          log: ""
          hash: 0D33F2F03A5234F38706E43004489E061AC40A2E
        id: 0
        jsonrpc: "2.0"
        error: ""
      properties:
        jsonrpc:
          example: "2.0"
          type: string
        id:
          example: 0
          type: integer
        result:
          $ref: '#/components/schemas/BroadcastTxResponse_result'
        error:
          example: ""
          type: string
      required:
      - error
      - id
      - jsonrpc
      - result
      type: object
    dialResp:
      example:
        Log: Dialing seeds in progress. See /net_info for details
      properties:
        Log:
          example: Dialing seeds in progress. See /net_info for details
          type: string
      type: object
    BlockSearchResponse:
      example:
        result:
          blocks:
          - block:
              data:
              - yQHwYl3uCkKoo2GaChRnd+THLQ2RM87nEZrE19910Z28ABIUWW/t8AtIMwcyU0sT32RcMDI9GF0aEAoFdWF0b20SBzEwMDAwMDASEwoNCgV1YXRvbRIEMzEwMRCd8gEaagom61rphyEDoJPxlcjRoNDtZ9xMdvs+lRzFaHe2dl2P5R2yVCWrsHISQKkqX5H1zXAIJuC57yw0Yb03Fwy75VRip0ZBtLiYsUqkOsPUoQZAhDNP+6LY+RUwz/nVzedkF0S29NZ32QXdGv0=
              - yQHwYl3uCkKoo2GaChRnd+THLQ2RM87nEZrE19910Z28ABIUWW/t8AtIMwcyU0sT32RcMDI9GF0aEAoFdWF0b20SBzEwMDAwMDASEwoNCgV1YXRvbRIEMzEwMRCd8gEaagom61rphyEDoJPxlcjRoNDtZ9xMdvs+lRzFaHe2dl2P5R2yVCWrsHISQKkqX5H1zXAIJuC57yw0Yb03Fwy75VRip0ZBtLiYsUqkOsPUoQZAhDNP+6LY+RUwz/nVzedkF0S29NZ32QXdGv0=
              evidence:
              - total_voting_power: 1
                validator:
                  address: address
                  pub_key:
                    type: tendermint/PubKeyEd25519
                    value: A6DoBUypNtUAyEHWtQ9bFjfNg8Bo9CrnkUGl6k6OHN4=
                  voting_power: 5
                time: 6
                type: type
                height: 0
              - total_voting_power: 1
                validator:
                  address: address
                  pub_key:
                    type: tendermint/PubKeyEd25519
                    value: A6DoBUypNtUAyEHWtQ9bFjfNg8Bo9CrnkUGl6k6OHN4=
                  voting_power: 5
                time: 6
                type: type
                height: 0
              last_commit:
                round: 2
                block_id:
                  parts:
                    total: 1
                    hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
                  hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
                signatures:
                - round: 0
                  signature: DBchvucTzAUEJnGYpNvMdqLhBAHG4Px8BsOBB3J3mAFCLGeuG7uJqy+nVngKzZdPhPi8RhmE/xcw/M9DOJjEDg==
                  validator_address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
                  validator_index: 0
                  type: 2
                  block_id:
                    parts:
                      total: 1
                      hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
                    hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
                  height: "1262085"
                  timestamp: 2019-08-01T11:39:38.867269833Z
                - round: 0
                  signature: DBchvucTzAUEJnGYpNvMdqLhBAHG4Px8BsOBB3J3mAFCLGeuG7uJqy+nVngKzZdPhPi8RhmE/xcw/M9DOJjEDg==
                  validator_address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
                  validator_index: 0
                  type: 2
                  block_id:
                    parts:
                      total: 1
                      hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
                    hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
                  height: "1262085"
                  timestamp: 2019-08-01T11:39:38.867269833Z
                height: 5
              header:
                validators_hash: D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0
                chain_id: cosmoshub-2
                consensus_hash: 0F2908883A105C793B74495EB7D6DF2EEA479ED7FC9349206A65CB0F9987A0B8
                proposer_address: D540AB022088612AC74B287D076DBFBC4A377A2E
                next_validators_hash: D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0
                version:
                  app: "0"
                  block: "10"
                data_hash: 970886F99E77ED0D60DA8FCE0447C2676E59F2F77302B0C4AA10E1D02F18EF73
                last_results_hash: ""
                last_block_id:
                  parts:
                    total: 1
                    hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
                  hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
                evidence_hash: ""
                app_hash: 223BF64D4A01074DC523A80E76B9BBC786C791FB0A1893AC5B14866356FCFD6C
                time: 2019-04-22T17:01:51.701356223Z
                height: "12"
                last_commit_hash: 21B9BC845AD2CB2C4193CDD17BFC506F1EBE5A7402E84AD96E64171287A34812
            block_id:
              parts:
                total: 1
                hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
              hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
          - block:
              data:
              - yQHwYl3uCkKoo2GaChRnd+THLQ2RM87nEZrE19910Z28ABIUWW/t8AtIMwcyU0sT32RcMDI9GF0aEAoFdWF0b20SBzEwMDAwMDASEwoNCgV1YXRvbRIEMzEwMRCd8gEaagom61rphyEDoJPxlcjRoNDtZ9xMdvs+lRzFaHe2dl2P5R2yVCWrsHISQKkqX5H1zXAIJuC57yw0Yb03Fwy75VRip0ZBtLiYsUqkOsPUoQZAhDNP+6LY+RUwz/nVzedkF0S29NZ32QXdGv0=
              - yQHwYl3uCkKoo2GaChRnd+THLQ2RM87nEZrE19910Z28ABIUWW/t8AtIMwcyU0sT32RcMDI9GF0aEAoFdWF0b20SBzEwMDAwMDASEwoNCgV1YXRvbRIEMzEwMRCd8gEaagom61rphyEDoJPxlcjRoNDtZ9xMdvs+lRzFaHe2dl2P5R2yVCWrsHISQKkqX5H1zXAIJuC57yw0Yb03Fwy75VRip0ZBtLiYsUqkOsPUoQZAhDNP+6LY+RUwz/nVzedkF0S29NZ32QXdGv0=
              evidence:
              - total_voting_power: 1
                validator:
                  address: address
                  pub_key:
                    type: tendermint/PubKeyEd25519
                    value: A6DoBUypNtUAyEHWtQ9bFjfNg8Bo9CrnkUGl6k6OHN4=
                  voting_power: 5
                time: 6
                type: type
                height: 0
              - total_voting_power: 1
                validator:
                  address: address
                  pub_key:
                    type: tendermint/PubKeyEd25519
                    value: A6DoBUypNtUAyEHWtQ9bFjfNg8Bo9CrnkUGl6k6OHN4=
                  voting_power: 5
                time: 6
                type: type
                height: 0
              last_commit:
                round: 2
                block_id:
                  parts:
                    total: 1
                    hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
                  hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
                signatures:
                - round: 0
                  signature: DBchvucTzAUEJnGYpNvMdqLhBAHG4Px8BsOBB3J3mAFCLGeuG7uJqy+nVngKzZdPhPi8RhmE/xcw/M9DOJjEDg==
                  validator_address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
                  validator_index: 0
                  type: 2
                  block_id:
                    parts:
                      total: 1
                      hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
                    hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
[...]
