{
  "printWidth": 120,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.json", "*.yaml"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
