services:
  unchained-local-node:
    image: unchained-local-node
    build:
      context: ./node
      dockerfile: Dockerfile.local

  unchained-local-go:
    image: unchained-local-go
    build:
      context: ./go/build
      dockerfile: Dockerfile.local

  watcher:
    build:
      context: ./node
      dockerfile: Dockerfile.local
    working_dir: /app/node
    # the additional yarn install here allows for platform specific packages to be install in the container
    # previously this would fail when copying over node_modules from the host on macos due to 
    # @nx/nx-linux-arm64-musl not being installed
    command: sh -c "yarn install && yarn workspaces foreach -Api run watch"
    volumes:
      - ./:/app

  reverse-proxy:
    # The official v2 Traefik docker image
    image: traefik:v2.11
    # Enables the web UI and tells Traefik to listen to docker
    command:
      - "--api.insecure=true"
      # Enabling docker provider
      - "--providers.docker=true"
      # Do not expose containers unless explicitly told so
      - "--providers.docker.exposedbydefault=false"
    networks:
      - arbitrum_default
      - arbitrum-nova_default
      - avalanche_default
      - base_default
      - bitcoin_default
      - bitcoincash_default
      - bnbsmartchain_default
      - dogecoin_default
      - ethereum_default
      - gnosis_default
      - litecoin_default
      - optimism_default
      - polygon_default
      - thorchain_default
      - thorchain-v1_default
      - solana_default
      - zcash_default
      - proxy_default
    ports:
      # The HTTP port
      - "80:80"
      # The Web UI (enabled by --api.insecure=true)
      - "8080:8080"
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock

networks:
  arbitrum_default:
    name: arbitrum_default
  arbitrum-nova_default:
    name: arbitrum-nova_default
  avalanche_default:
    name: avalanche_default
  base_default:
    name: base_default
  bitcoin_default:
    name: bitcoin_default
  bitcoincash_default:
    name: bitcoincash_default
  bnbsmartchain_default:
    name: bnbsmartchain_default
  dogecoin_default:
    name: dogecoin_default
  ethereum_default:
    name: ethereum_default
  gnosis_default:
    name: gnosis_default
  litecoin_default:
    name: litecoin_default
  optimism_default:
    name: optimism_default
  polygon_default:
    name: polygon_default
  thorchain_default:
    name: thorchain_default
  thorchain-v1_default:
    name: thorchain-v1_default
  solana_default:
    name: solana_default
  zcash_default:
    name: zcash_default
  proxy_default:
    name: proxy_default
