services:
  api:
    image: unchained-local-node
    env_file: .env
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.litecoin-api.rule=Host(`api.litecoin.localhost`)'
      - 'traefik.http.services.litecoin-api.loadbalancer.server.port=3000'
    working_dir: /app/node/coinstacks/litecoin/api
    command: yarn run -T nodemon
    volumes:
      - ../../..:/app
    networks:
      - litecoin

networks:
  litecoin:
    name: litecoin_default
    external: true