services:
  api:
    image: unchained-local-node
    env_file: .env
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.ethereum-api.rule=Host(`api.ethereum.localhost`)'
      - 'traefik.http.services.ethereum-api.loadbalancer.server.port=3000'
    working_dir: /app/node/coinstacks/ethereum/api
    command: yarn nodemon
    volumes:
      - ../../..:/app
    networks:
      - ethereum

networks:
  ethereum:
    name: ethereum_default
    external: true