# SECRET ENVIRONMENT VARIABLES
BROKER_URL=amqp://guest:guest@rabbitmq-svc.unchained.svc.cluster.local:5672
ETHERSCAN_API_KEY=

# ENVIRONMENT VARIABLES
INDEXER_URL=https://indexer.ethereum.fiat.fail
INDEXER_WS_URL=wss://indexer.ethereum.fiat.fail/websocket
LOG_LEVEL=debug
MIDGARD_URL=https://midgard.thorchain.info
MONGO_DBNAME=coinstack
MONGO_URL=mongodb://ethereum-mongodb-0.ethereum-mongodb-headless.unchained.svc.cluster.local:27017,ethereum-mongodb-1.ethereum-mongodb-headless.unchained.svc.cluster.local:27017,ethereum-mongodb-2.ethereum-mongodb-headless.unchained.svc.cluster.local:27017/?replicaSet=rs0
RPC_URL=https://daemon.ethereum.fiat.fail