version: '3.6'

services:
  api:
    image: unchained-local-node
    env_file: .env
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.bitcoincash-api.rule=Host(`api.bitcoincash.localhost`)'
      - 'traefik.http.services.bitcoincash-api.loadbalancer.server.port=3000'
    working_dir: /app/coinstacks/bitcoincash/api
    command: yarn nodemon
    volumes:
      - ../..:/app