services:
  api:
    image: unchained-local-node
    env_file: .env
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.polygon-api.rule=Host(`api.polygon.localhost`)'
      - 'traefik.http.services.polygon-api.loadbalancer.server.port=3000'
    working_dir: /app/node/coinstacks/polygon/api
    command: yarn nodemon
    volumes:
      - ../../..:/app
    networks:
      - polygon

networks:
  polygon:
    name: polygon_default
    external: true