version: '3.6'

services:
  api:
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.bitcoin-api.rule=Host(`api.bitcoin.localhost`)'
      - 'traefik.http.services.bitcoin-api.loadbalancer.server.port=3000'
    image: unchained-local
    env_file: .env
    working_dir: /app/coinstacks/bitcoin/api
    command: yarn nodemon
    volumes:
      - ../..:/app