services:
  api:
    image: unchained-local-node
    env_file: .env
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.dogecoin-api.rule=Host(`api.dogecoin.localhost`)'
      - 'traefik.http.services.dogecoin-api.loadbalancer.server.port=3000'
    working_dir: /app/node/coinstacks/dogecoin/api
    command: yarn run -T nodemon
    volumes:
      - ../../..:/app
    networks:
      - dogecoin

networks:
  dogecoin:
    name: dogecoin_default
    external: true